a {
    color: black;
    text-decoration: underline;
    font-style: italic;
}

a:visited {
    color: black;
}

h2 {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    margin-top: 0;
}

hr {
    border-color: lightgray;
    width: 100%;
}

.top {
    margin-top: 30px;
    margin-bottom: 8px;
}

.top-complement {
    margin-top: 22px;
}

.dotted {
    border-style: dotted;
}

.drawing-area {
    width: 100%;
    height: 400px;
}
